name: CI Workflow
on:
  push:
    branches-ignore:
      - dev-branch-01
    paths-ignore:
      - 'DCOS/**'
      - 'K8s/**'   
  workflow_dispatch:
    paths-ignore:
      - 'DCOS/**'
      - 'K8s/**'

env:
  GAR_INFO: us-central1-docker.pkg.dev/coe-srs-2022/coe-srs-gar-repo 
  APP_NAME: rs-cart
  
jobs:
  build-cart:
    name: Building CART IMAGE
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout
        uses: actions/checkout@v3
                
      - name: Setup GCP Service Account
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: "${{ secrets.GOOGLE_CREDENTIALS_P }}"
      
      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v0'
      
      # Configure docker to use the gcloud command-line tool as a credential helper
      
      - name: Setup Docker
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev
      
      # Build the Docker image
      - name: Build-and-push-to-GAR
        run: |
          export TAG=`cat VERSION.txt`
          echo $TAG
          echo "$GAR_INFO"/"$APP_NAME":"$TAG"
          # docker build -t "$GAR_INFO"/"$APP_NAME":"$TAG" .
          gcloud info
          # docker push "$GAR_INFO"/"$APP_NAME":"$TAG"
          gcloud builds submit --tag "$GAR_INFO"/"$APP_NAME":"$TAG" .
          printf %s $TAG > VERSION.txt